.userItem{
    display: flex;
    border: 2px solid black;
    font-family: 'Courier';
    color: white;
    font-size: 20px;
    margin: 15px;
}

.userItem img {
    width: 140px;
    height: 110px;
    border-radius: 30px;
    border: 2px solid white;
    margin: 15px;
}

.userItem:hover{
    background-color: rgb(48, 47, 58);
}

.userItemProfileInfo{
    margin: 15px;
}

.userItemName{
    font-weight: 560;
}

.userItemLocation{
    font-size: 17px;
    margin: 0 10px 10px 0;
    color: rgb(177, 168, 190);
}

.userItemStatus{
    width: 350px;
    font-size: 17px;
    margin: 10px 10px 10px 0;
    color: rgb(177, 168, 190);
}

.followBtn{
    margin-right: 20px;
    margin-top: 50px;
}

.followBtn button {
    width: 100px;
    border-radius: 15px;
    background-color: white;
    color: #282c34;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Courier';
    outline: none;
    text-align: center;
}

.page{
    color: white;
}

.selectedPage{
    color: rgb(102, 255, 0);
    font-weight: bold;
}