.dialogsWrapper {
    display: grid;
    grid-template-areas: 
    "a b"
    "a d";
    grid-template-columns: 2fr 10fr;
}

.dialogsItems{
    grid-area: a;
    height: 89vh;
    border: 2px solid black;
    border-bottom-style: none;
    border-top-style: none;
    border-left-style: none;
}

.dialog{
    display: flex;
    border: 2px solid black;
    width: 240px;
    padding: 10px;
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
}

.dialog:hover{
    background-color: rgb(48, 47, 58);
}

.dialogName{
    margin: 18px;
}

.dialog a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: 'Courier';
}

.dialog img {
    width: 65px;
    height: 60px;
    border-radius: 50px;
    border: 2px solid white;
  }

.messages {
    grid-area: b;
    height: 74vh;
    border: 2px solid black;
    border-right-style: none;
    border-left-style: none;
    border-top-style: none;
    overflow: auto;
}

.myMessage {
    margin: 15px 15px 15px 25px;
    width: 170px;
    background-color: rgb(48, 47, 58);
    border: 2px solid white;
    border-top-right-radius: 15px;
    padding: 8px;
    color: gold;
    font-size: 18px;
    font-family: 'Courier';
    word-wrap: break-word;
}

.message{
    position: relative;
    margin-left: 20px;
    right: -210px;
    width: 170px;
    border: 2px solid white;
    border-top-left-radius: 15px;
    padding: 8px;
    color: white;
    font-size: 18px;
    font-family: 'Courier';
    word-wrap: break-word;
}

.sendMessage {
    padding: 15px;
}

.sendMessageText textarea {
    width: 395px;
    height: 42px;
    padding: 8px;
    border: 2px solid white;
    border-radius: 15px;
    background-color: #282c34;
    outline: none;
    color: white;
    font-size: 18px;
    font-family: 'Courier';
}

.sendMessageBtn {
    margin: 10px 0 0 0;
    float: right;
}

.sendMessageBtn button {
    border-radius: 15px;
    background-color: white;
    color: #282c34;
    font-size: 18px;
    font-family: 'Courier';
    outline: none;
    text-align: center;
}