.dialogsWrapper {
    display: grid;
    grid-template-areas: 
    "a b"
    "a d";
    grid-template-columns: 2fr 10fr;
}

.dialogsItems{
    grid-area: a;
    height: 89vh;
    border: 2px solid black;
    border-bottom-style: none;
    border-top-style: none;
    border-left-style: none;
}

.messages {
    grid-area: b;
    height: 74vh;
    border: 2px solid black;
    border-right-style: none;
    border-left-style: none;
    border-top-style: none;
    overflow: auto;
}